body {
  font-size: 16px;
  margin:auto;
}

header {
  position:relative;
}

h4, h6 {
  font-size: 15px;
  margin:30px 20px;
}

h2, h5 {
  font-size: 25px;
  margin-top: 20px;
}

li > a {
  color: #000000;
  font-family: fantasy;
  font-size: 20px;
  text-decoration: none;
}

li > a:hover {
  color: #E95853;
}

ul > li{
  float: left;
  margin-left: 25px;
  text-transform: uppercase;
}

ul{
  background-color:#ffffff;
  list-style: none;
  margin: 20px;
  overflow: hidden;
  padding: 10px;
}

#ajust {
  background-image: url(../assets/images/bg-home.jpg);
  color: #ffffff;
  height: 500px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

#ajust > a{
  background-color: #2ecc71;
  height: 20px;
  padding: 10px;
  width: 130px;
}

#pink{
  background-color: #f17c72;
  color: #ffffff;
  margin-top: -20px;
  text-align: center;
}

#picture-one{
  color: #191919;
  text-align: center;
}

#name{
  padding-right: 500px;
}

#services{
  display: flex;
  width: 100%;
}

.ajust {
  display: inline-block;
  display: flex;
  margin-left: 25%;
}

.ajust > img {
  margin: 40px 30px;
}

.big{
  text-transform: uppercase;
}

.conteiner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  position:static;
  width: 1200px;
}

.one{
  position: absolute;
  right: 50px;
  top: -1px;
}
